@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:300,700');

/*All elements*/
* {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: "Open Sans";
	font-weight: 300;
	line-height: 1.5em;
}

/*general elements*/
body {
	color: #3F3F3F;
	font-size: 18px;
	display: flex;
}
header {
	margin: 0;
	padding: 0;
}
div#content {
/*	padding: 2em;*/
	display: flex;
}

/*general typography*/
h1 {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #3F3F3F;
	margin: 0;
	padding-bottom: 1em;
}
h2 {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #3F3F3F;
	margin: 0;
	padding-bottom: .5em;
}
h3 {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #3F3F3F;
	margin: 0;
	padding-bottom: 1em;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.5em;
	padding-bottom: 1em;
	margin-bottom: 0;
}


/*flex grid types*/
/*for things like the staff profiles*/
ul.gridProfiles {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
	padding-bottom: 1em;
	width: 100%;
}
/*the first child is the image*/
ul.gridProfiles li:first-child {
	flex: 1;
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 180px;
	padding-bottom: 2em;
}
/*the second child is the quick facts*/
ul.gridProfiles li:nth-child(2){
	margin-left: 18px;
	flex-basis: 742px;
	flex-shrink: 1;
}
/*last is the bio*/
ul.gridProfiles li:nth-child(3){
	margin-left: 18px;
	flex-basis: 742px;
	flex-shrink: 1;
}

/*Media queries*/
/*larger than phone styles*/
/*
@media (min-width: 768px) {

}
*/

/*phone and smaller styles*/

@media (max-width: 768px) {

}


/*
* {
	padding: 0;
	margin: 0;
	border: 1px dashed;
	font-size: 18px;
	font-family: "Open Sans";
	font-weight: 300;
	line-height: 1.5em;
}
*/

body {
	background-image: url("../breathefest/images/railyards.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
body.modalOpen{
	overflow: hidden;
}

/*general components*/
#modalOverlay{
	display: none;
	background: rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2;
}
section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 3em 1em;
}
section:not(.inset){
	background-color: #fff;
}


#content {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

section {
	max-width: 720px;
}

article {
	width: 100%;
}

.button {
	opacity: 1;
	padding: .5em;
	background-color: #ff8282;
	color: #fff;
	box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.25);
}

.lineBreak {
	padding-bottom: 18px;
}
.card {
	background-color: #fff;
	padding: 2em 1em;
	box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);
}
.inset{
	box-shadow: inset 0px 10px 20px -6px rgba(0,0,0,0.75);
}
img.mainIllus{
	max-width: 360px;
}

/*general typography*/
h1{
	font-family: "montserrat", sans-serif;
	font-weight: 300;
	font-size: 3em;
	padding-bottom: .33em;
}
h2{
	font-family: "montserrat", sans-serif;
	font-weight: 300;
	font-size: 2em;
	padding-bottom: .5em;
}
h3{
	font-family: "montserrat", sans-serif;
	font-weight: 700;
}

p{
	padding-bottom: 1em;
}
a {
	text-decoration: none;
	color: #000;
	opacity: .50;
	transition: ease-in-out, opacity .25s ease-in-out;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}
a:hover{
	opacity: 1;
}

strong {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
/*	font-style: italic;*/
	font-size: 3em;
	display: inline-block;
	width: 100%;
	line-height: 1.5em;
	padding-bottom: .5em;
}
strong span.lite{
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #bfbfbf;
	z-index: inherit;
}

/*list types*/
ul.text{
	padding-bottom: 1em;
}
ul.text li {
	margin-left: 2em;
}
ul.iconGrid {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 1em;
}
ul.iconGrid li {
	text-align: center;
	display: inline-block;
	flex: 1;
	flex-shrink: 1;
	flex-grow: 0;
	flex-basis: 180px;
}
ul.iconGrid li img{
	width: 100%;
}

ul.modalGrid {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 1em;
	list-style: none;
}
ul.modalGrid li.modalTrigger {
/*	border: 1px solid #000;*/
	text-align: center;
	display: inline-block;
	flex: 1;
	flex-shrink: 1;
	flex-grow: 0;
	flex-basis: 270px;
}
.modalWindow {
	display: none;
	z-index: 2;
	top: 0; right: 0; bottom: 0; left: 0; 
	position: fixed;
	margin: 2em;
	overflow-y: scroll;
}
i.modalEsc {
	display: block;
}
.modalEsc.button{
	display: block;
	width: 1em;
	height: 1em;
	line-height: .5em;
	text-align: center;
	position: fixed;
	top: 0;
	left: 100%;
	margin-left: -4em;
	margin-top: 2em;
}
.modalEsc.button.transparent{
	box-shadow: 0;
	background-color: rgba(0,0,0,0.00);
}

ul.iconGrid li img{
	width: 100%;
}

ul.sponsorList {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
ul.sponsorList li {
	text-align: center;
	display: inline-block;
/*	flex: 1;*/
	flex-shrink: 1;
	flex-grow: 0;
	line-height: 2em;
/*	flex-basis: 180px;*/
}

/*Nav-specific*/
nav#headerSitewide {
	z-index: 1;
/*	margin-top: -2em;*/
	position: fixed;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: #105f49;
	
}
nav#headerSitewide #brandName{
	font-family: "montserrat", sans-serif;
	font-weight: 600;
	
}
nav#headerSitewide a {
	opacity: 1;
	color: white;
	text-decoration: none;
	transition: ease-in-out, text-decoration .35s ease-in-out;
	padding: .5em;
	display: inline-block;
}
nav#headerSitewide a:hover{
	text-decoration: underline;
}
nav#headerSitewide ul li {
	display: inline-block;
}

/*Engagement section-specific*/
#ticket {
/*	margin-top: 2em;*/
	text-align: center;
}
/*FOUND IT*/

#ticket > *{
/*	flex: 1 100%;*/
}
#ticket h1 {
	font-size: 3em;
}

/*Footer*/
.footer {
	position: fixed;
	width: 72px;
	height: 72px;
	top: 100%;
	left: 100%;
	margin-top: -108px;
	margin-left: -108px;
	text-align: center;
	opacity: 1;
	background-color: #efe13a;
	color: #fff;
	box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.25);
	border-radius: 72px;
	padding: .20em .5em .80em .5em;
	line-height: .25em;
}

footer {
	font-family: "Montserrat";
/*	font-weight: 700;*/
	color: #000;
	opacity: 1;
}

/*Details*/

/*Media queries*/
/*larger than phone styles*/
@media (min-width: 768px) {
    nav ul li#hamburger{
		display: none;
	}
}

/*phone and smaller styles*/
@media (max-width: 768px) {
	strong, h1, h2 {
		font-size: 2em;
	}
    nav ul li:not(#hamburger){
        display: none;
    }
	nav:hover ul li#hamburger{
        display: none;
    }
	nav:hover ul li:not(#hamburger){
		display: block;
	}
	a {
		opacity: 1;
	}
}
