#gridHome {
	display: flex;
	flex-wrap: wrap;
}

#gridHome a {
	display: inline-block;
	background-size: cover;
	background-position: center;
}

#gridHome a p {
	width: 100%;
	background-color: rgba(63,63,63,.9);
	padding: .25em;
	color: #fff;
}

/*small*/
@media (max-width: 360px) {
	#gridHome a{
		width: 100%;
	}
	/*to keep items square*/
	#gridHome a:before {
   		content:'';
  		float:left;
    	padding-top:100%;
	}
}

/*small and medium*/
@media (min-width:361px) and (max-width: 720px) {
	/*to keep items square*/
	#gridHome a:before {
   		content:'';
  		float:left;
    	padding-top:100%;
	}
	#gridHome a{
		display: inline-block;
		width: 50%;
	}
}

@media (min-width:721px){
	/*to keep items square or 2:1 rectangle*/
	#gridHome a:not(.gridHomeHalf):before {
   		content:'';
  		float:left;
    	padding-top:100%;
	}
	#gridHome a.gridHomeHalf:before {
    	content:'';
    	float:left;
    	padding-top:50%;
	}
	#gridHome a.gridHomeHalf{
		width: 50%;
		max-width: 540px;
	}
	#gridHome a.gridHomeQuarter{
		width: 25%;
		max-width: 270px;
	}
	#gridHome a.gridHomeEigth{
		width: 12.5%;
		max-width: 135px;
	}
}

/*
@media (min-width: 1259px) {
	#hero {
		flex-direction: row;
	}
	#heroOverlay{
		display: flex;
		align-self: flex-end;
	}
	#gridHome {
		width: 270px;
	}
	#gridHome a{
		display: inline-block;
	}
	#gridHome a:before {
   		content:'';
  		float:left;
    	padding-top:100%;
	}
}*/
